<ion-view class="dashboard-fondo" style="margin-top: -44px;">
	<ion-content class="padding">
	<p class="item-input-wrapper transparent">
		<span>
			27 de abril
		</span>
    </p>
	<ion-list class="transparent">
		<!-- <ion-item class="item-avatar item-icon-right"
		ng-repeat="item in usuarios | filter: query"
		href="#/tab/user/{{item.id}}"
		> -->
		<ion-item class="item-avatar item-icon-right transparent" style="padding-left: 65px; padding-right: 20px;">
			<img src="{{image}}"/>
			<div class="row">
			<!-- <h2>Nombre Apellido</h2><p>0000-000-0000</p> -->
				<!-- <div class="col">
					<h2>Nombre Apellido</h2>
					<p>0000-000-0000</p>
				</div> -->
				<!-- <div class="col">
					<h2>Cobro de detalles</h2>
					<p>Hecho desde <a hrif="#">Aplicaci&oacute;n</a></p>
				</div> -->
			</div>
			<!-- <h2>{{item.nombre}} {{item.apellidos}}</h2>
			<p>{{item.telefono}}</p> -->
			<!-- <a class="button button-icon icon ion-ios-telephone" href="tel:{{item.telefono}}"></a> -->
		</ion-item>
	</ion-list>
	</ion-content>
</ion-view>

